# ------------------
# Environment / Secrets
# ------------------
.env
.env.*
secrets/

# ------------------
# Python
# ------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Python build artifacts
build/
dist/
*.egg-info/

# ------------------
# OS
# ------------------
.DS_Store

# ------------------
# Editor
# ------------------
.vscode/
.idea/

# ------------------
# Deployment
# ------------------
.vercel/

# ------------------
# Test Files
# ------------------
*.xlsx
*.json
*.csv
