# ------------------
# Environment / Secrets
# ------------------
.env
.env.*
secrets/

# ------------------
# Python
# ------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Python build artifacts
build/
dist/
*.egg-info/

# ------------------
# OS
# ------------------
.DS_Store

# ------------------
# Editor
# ------------------
.vscode/
.idea/

# ------------------
# Test Files
# ------------------
output/
*.xlsx
*.json
*.csv
!frontend/**/*.json

# ------------------
# Logs
# ------------------
logs/
*.log

# ------------------
# Catches
# ------------------
caches.json.lock

# ------------------
# Frontend Build Artifacts
# ------------------
node_modules/
*.tsbuildinfo
static/assets/
apps/tradsphere/ui_dist/
